body{
    background-color: white;
}

.login{
    color: gray;
    float: right;
    text-decoration: none;
    margin-top: 5px;
}

.borderUnderNav{
    background-color: #212529;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    height: 60px;
}

.borderUnderNavUnder{
    background-color: #212529;
    height: 200px;
    z-index: 0;
}

.fontSize{
    font-family: 'Guardian Text Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 18px;
    font-weight: 700;

}

.search-click {
    border: 1px solid #ccc;
    outline: none;
    background-size: 22px;
    background-position: 13px;
    border-radius: 10px;
    width: 50px;
    height: 50px;
    padding: 25px;
    transition: all 0.5s;
  }
  .search-click:focus {
    width: 300px;
    padding-left: 50px;
  }
  .search-click {
    position: relative;
    overflow: hidden;
    height: 50px;
  }
  .search-click input {
    background: transparent;
    border: 1px solid #ccc;
    outline: none;
    position: absolute;
    width: 300px;
    height: 50px;
    left: 0%;
    padding: 10px;
  }

  .navbar-nav > li{
    margin-left: 10px;
    margin-right: 10px;
  }

nav a:hover {
    background-color: 33,37,41;
  }

.navbar .navbar-nav .nav-link {
    font-size: 1.1em;
    position: relative;
  }

.navbar .navbar-nav .nav-link::after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: plum;
    color: transparent;
    width: 0%;
    content: '.';
    height: 3px;
  }
.navbar .navbar-nav .nav-link:hover::after {
    width: 100%;
  }


.dropdown-item{
    font-family: 'Guardian Text Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 20px;
    font-weight: 700; 
}


/* Hover effect on dropdown menu for desktop view */
@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .nav-link{   }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0;}
}

main{
  padding: 14px;
}



main p{
  text-align: start;
}

.container1{
  margin: 30px;
  width: 200px;
  text-align: start;
  padding: 2px;
}

.container2{
  margin: auto;
  width: 700px;
  
  text-align: start;
  padding: 90px;
}

.more-articles section{
  display: inline-block;
  width: 40%;
  padding: 20px;
  text-align: start;
}

main img{
width: 100%
}

.imgClass img{
  width: 300px;
  height: 200px;
}

.articleText{
  font-size: 19px;
  font-weight: 400;
  text-decoration: none;
  font-family: 'Guardian Egyp',serif;
}

.hColor{
  color: white;
  border-top: 5px solid plum;
}

footerTwo nav a{
  color: #777;
  text-decoration: none;
  font-size: 12px;
}

footerTwo nav ul{
  list-style-type: none;
  padding: 0;
}

footerTwo nav ul li{
  display: inline-block;
  padding: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
}

